html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Fonts */
/* Colors */
/* Other */
/* Fonts */
/* Colors */
/* Other */
/* Widget Polylang */
.widget_polylang ul, .widget_polylang li {
  list-style-type: none;
  display: inline-block; }
.widget_polylang ul li:first-child:before {
  display: none; }
.widget_polylang ul li:before {
  content: '-';
  display: inline-block;
  margin-right: 3px; }
.widget_polylang ul li a {
  color: #fff;
  font-size: 11px;
  display: inline-block;
  padding: 5px 0;
  border-bottom: 1px solid transparent; }
.widget_polylang ul li a:focus, .widget_polylang ul li a:hover, .widget_polylang ul li.current-lang a {
  border-color: #fff;
  text-decoration: none; }

/* Fonts */
/* Colors */
/* Other */
.contact-form__row {
  margin-bottom: 3px; }
.contact-form label {
  line-height: 30px;
  min-width: 120px;
  vertical-align: top; }
.contact-form input[type=text], .contact-form input[type=email], .contact-form textarea {
  line-height: 30px;
  border: 1px solid #DCDEDD;
  padding: 0 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .contact-form input[type=text]:focus, .contact-form input[type=email]:focus, .contact-form textarea:focus {
    border-color: #F4793A; }
  .contact-form input[type=text].error, .contact-form input[type=email].error, .contact-form textarea.error {
    outline: 1px solid red; }
.contact-form textarea {
  line-height: 150%;
  padding: 5px;
  min-height: 90px; }

/* Main */
body {
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 150%;
  border: 5px solid #F4793A;
  border-top-width: 0; }

table td {
  padding: 5px 15px;
  border-bottom: 1px solid #DCDEDD; }

img {
  max-width: 100%;
  height: auto; }

.site-main {
  width: 100%;
  padding: 60px 15px; }

em {
  color: #F4793A;
  font-style: italic; }

.align-center {
  text-align: center; }

.visible-sm {
  display: none; }
  @media only screen and (max-width: 480px) {
    .visible-sm {
      display: inline-block; } }

/* Slogan */
.slogan {
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 85%;
  font-size: 20px; }
  .slogan i, .slogan em {
    color: #fff;
    font-style: italic; }

/* Logo */
.custom-logo-link img {
  max-width: 125px;
  height: auto;
  display: block; }

/* Header */
header {
  background: #F4793A;
  color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0; }
  @media only screen and (max-width: 1024px) {
    header .custom-logo-link {
      order: 1; }
    header .slogan {
      order: 2; }
      header .slogan br {
        display: none; }
    header .widget_polylang {
      order: 3; }
    header .menu__container {
      order: 4;
      flex-flow: wrap;
      margin-top: 30px; } }
  @media only screen and (max-width: 768px) {
    header .custom-logo-link {
      order: 1; }
    header .slogan {
      order: 3;
      flex-flow: wrap; }
    header .widget_polylang {
      order: 2; }
    header .menu__container {
      order: 4;
      flex-flow: wrap;
      margin-top: 15px; }
    header .show-mobile-nav {
      order: 3; } }
  @media only screen and (max-width: 480px) {
    header {
      flex-direction: column; }
      header .menu__container {
        margin-top: 0; }
      header #menu-main-menu {
        display: none; }
      header > div, header > a {
        margin-bottom: 15px; } }

.btn-primary {
  color: #191919;
  background-color: transparent;
  border-color: #191919;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .btn-primary:hover {
    color: #fff;
    background-color: #F4793A;
    border-color: #F4793A; }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(244, 121, 58, 0.5); }

/* Button to show mobile navigation menu */
.show-mobile-nav {
  border: 1px solid #fff;
  padding: 5px 15px;
  margin-top: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .show-mobile-nav:hover, .show-mobile-nav:focus {
    background-color: #191919; }

/* Headings */
.btn-next-section {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; }
  .btn-next-section:after, .btn-next-section:before {
    display: block;
    content: '\A'; }
  .btn-next-section:after {
    width: 1px;
    height: 45px;
    background-color: #F4793A;
    margin-top: 15px; }
  .btn-next-section:before {
    order: 2;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 4px 0 4px;
    border-color: #F4793A transparent transparent transparent; }

/* Headings */
h1 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 180%;
  margin-bottom: 30px; }

h3 {
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold; }

h4 {
  text-transform: uppercase;
  font-family: "Playfair Display", serif; }

h5 {
  font-size: 13px;
  line-height: 180%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 15px; }

/* Menu */
.copyright {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 9px; }

/* Contact links */
.contact-links li {
  display: block;
  text-align: center; }
.contact-links a {
  color: #191919;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  white-space: nowrap;
  line-height: 120%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .contact-links a:hover, .contact-links a:focus {
    color: #F4793A;
    text-decoration: none; }

/* Social Icons */
.social ul, .social li {
  display: inline-block; }
.social ul li {
  padding: 0 5px; }
  .social ul li a {
    display: inline-block;
    padding: 5px;
    color: #191919;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .social ul li a:hover, .social ul li a:focus {
      color: #F4793A; }

/* Menu */
.menu-item {
  display: inline-block; }
  .menu-item:before {
    content: '\2022';
    display: inline-block;
    padding: 0 15px; }
  .menu-item:first-child:before {
    display: none; }
  .menu-item a {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .menu-item a:before {
      content: "\A";
      position: absolute;
      width: 30px;
      height: 1px;
      bottom: -5px;
      left: 50%;
      margin-left: -15px;
      background-color: #fff;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
  .menu-item.current-menu-item a, .menu-item a:hover, .menu-item a:focus {
    text-decoration: none; }
    .menu-item.current-menu-item a:before, .menu-item a:hover:before, .menu-item a:focus:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1); }
  @media only screen and (max-width: 480px) {
    .menu-item {
      display: block;
      margin-bottom: 5px; }
      .menu-item a:before {
        left: 0;
        margin: 0;
        width: 100%;
        bottom: 0; }
      .menu-item:first-child:before {
        display: inline-block; } }

.content-area {
  display: flex; }
  .content-area .sidebar {
    width: 115px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .content-area .sidebar-right {
      order: 3; }
      .content-area .sidebar-right .social li {
        display: block;
        text-align: center; }
    .content-area .sidebar-left {
      order: 0; }
      .content-area .sidebar-left .contact-links {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); }
  @media only screen and (max-width: 1024px) {
    .content-area {
      flex-direction: column; }
      .content-area .sidebar {
        display: none; } }

.footer {
  background: transparent url("../images/footer-pattern.png") repeat-x center left;
  padding-top: 45px;
  padding-bottom: 30px;
  margin-top: 60px; }
  .footer > div {
    padding-bottom: 15px; }
  .footer .menu {
    padding-bottom: 15px; }
    .footer .menu-item:before {
      font-weight: bold;
      font-size: 25px;
      vertical-align: bottom;
      line-height: 25px; }
    .footer .menu-item a {
      color: #191919;
      text-transform: none;
      letter-spacing: initial;
      font-size: 15px;
      font-weight: bold; }
      .footer .menu-item a:before {
        display: none; }
    .footer .menu-item.current-menu-item a, .footer .menu-item a:focus, .footer .menu-item a:hover {
      color: #F4793A; }

/* Appartments */
.archive-appartment-item a:not(.btn) {
  color: #191919; }
  .archive-appartment-item a:not(.btn):hover {
    color: #F4793A;
    text-decoration: none; }
.archive-appartment-item h2, .archive-appartment-item h3, .archive-appartment-item h4, .archive-appartment-item .btn {
  margin: 15px 0; }

/*# sourceMappingURL=style.css.map */
