/* Fonts */
$fontPrimary: 'Raleway', sans-serif;;
$fontSecondary: 'Playfair Display', serif;
$letterSpacing: 3px;
$basicFontSize: 14px;

/* Colors */
$orange: #F4793A;
$black: #000;
$white: #fff;

$primaryColor: $orange;
$textColor: #191919;

/* Other */
$gutter: 15px;